html {
    font-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1em;
}

ol,
ul {
    margin-top: 0;
}

hr {
    margin: 2em 0;
    height: 0;
    border: 0;
    border-top: 1px solid #eee;
}

strong {
    font-weight: 700;
}

a,
button {
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    background: none;
    letter-spacing: inherit;
    font: inherit;
    cursor: pointer;
    -webkit-font-smoothing: inherit;
}

[type='radio'],
[type='checkbox'] {
    margin: 0;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

video {
    width: 100%;
    height: auto;
}