<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matthew Ström: designer &amp; developer</title>
    {% feed_meta %}
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <main class="l--container">
        <div class="row l--mar-top-l l--mar-btm-l">
            {{ content }}
        </div>
    </main>
    <div class="art">
        <div class="art--caption c--bg-white">
            10PRINT - <a href="https://10print.org/" target="_blank">reference</a>
        </div>
        <canvas id="canvas"></canvas>
    </div>
</body>

<script src="/js/script.js"></script>
</html>
