<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} || Matthew Ström: designer, developer, etc.</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <main class="l--container">
        <header class="row l--mar-top-l">
            <p>
                <a href="/">&larr; Back</a>
            </p>
            <h1 class="t--size-xl t--family-serif t--leading-small t--tracking-tight t--weight-bold">
                {{ page.title }}
            </h1>
            {% if page.categories contains 'writing' %}
                <p class="c--gray">Originally published {{ page.date | date: '%B %d, %Y'}}</p>
            {% endif %}
        </header>
        <div class="l--mar-top-m l--mar-btm-m">〰</div>
        <article class="post row l--mar-btm-l">
            {{ content }}
        </article>
    </main>
</body>

</html>